* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cont-principal {
    width: 100%;
    text-align: center;
    min-height: 11vh;
    padding: 80px 100px;
    background: #1a0025; /* fondo oscuro morado */
}

h1 {
    color: #ff00ff; /* rosa neón */
    font-size: 40px;
    margin-bottom: 40px;
}

p {
    color: #f0e6ff; /* blanco-lila claro */
    font-size: 22px;
    margin-bottom: 40px;
}

hr {
    margin-bottom: 40px;
    border-color: #ff00ff;
}

button {
    padding: 10px 30px;
    background: #9900cc; /* morado fuerte */
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ff00ff;
    margin: 5px;
    transition: 0.5s;
}

button:hover {
    background: #2a003d; /* morado oscuro */
    color: #ff00ff;
    border-radius: 0;
    box-shadow: 4px 4px 10px 0px #ff00ff;
}

h2 {
    color: #ffffff;
    font-size: 32px;
    margin: 40px 0;
}